package views 

import "github.com/AmazingAkai/URL-Shortener/internal/store"

templ Home(session *store.Session) {
	@Layout(session) {
		<div class="h-full w-full flex justify-center items-center">
			Hello World!
		</div>
	}
}
